Repository adamtheturtle/doccmd-pre-commit: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, doc8, pyproject-fmt-fix, yamlfix, sphinx-lint

.pre-commit-config.yaml:

---
fail_fast: true

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  # We use system Python, with required dependencies specified in pyproject.toml.
  # We therefore cannot use those dependencies in pre-commit CI.
  skip:
    - actionlint
    - doc8
    - docformatter
    - pyproject-fmt-fix
    - shellcheck
    - shellcheck-docs
    - shfmt
    - shfmt-docs
    - sphinx-lint
    - yamlfix

default_install_hook_types: [pre-commit, pre-push, commit-msg]

repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: file-contents-sorter
        files: spelling_private_dict\.txt$
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
      - id: rst-backticks
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: uv run --extra=dev actionlint
        language: python
        pass_filenames: false
        types_or: [yaml]
        additional_dependencies: [uv==0.5.14]

      - id: docformatter
        name: docformatter
        entry: uv run --extra=dev -m docformatter --in-place
        language: python
        types_or: [python]
        additional_dependencies: [uv==0.5.14]

      - id: shellcheck
        name: shellcheck
        entry: uv run --extra=dev shellcheck --shell=bash
        language: python
        types_or: [shell]
        additional_dependencies: [uv==0.5.14]

      - id: shellcheck-docs
        name: shellcheck-docs
        entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck
          --shell=bash"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: [uv==0.5.14]

      - id: shfmt
        name: shfmt
        entry: uv run --extra=dev shfmt --write --space-redirects --indent=4
        language: python
        types_or: [shell]
        additional_dependencies: [uv==0.5.14]

      - id: shfmt-docs
        name: shfmt-docs
        entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt
          --no-pad-file --command="shfmt --write --space-redirects --indent=4"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: [uv==0.5.14]

      - id: doc8
        name: doc8
        entry: uv run --extra=dev -m doc8
        language: python
        types_or: [rst]
        additional_dependencies: [uv==0.5.14]

      - id: pyproject-fmt-fix
        name: pyproject-fmt
        entry: uv run --extra=dev pyproject-fmt
        language: python
        types_or: [toml]
        files: pyproject.toml
        additional_dependencies: [uv==0.5.14]

      - id: yamlfix
        name: yamlfix
        entry: uv run --extra=dev yamlfix
        language: python
        types_or: [yaml]
        additional_dependencies: [uv==0.5.14]

      - id: sphinx-lint
        name: sphinx-lint
        entry: uv run --extra=dev sphinx-lint --enable=all --disable=line-too-long
          *.rst
        language: python
        types_or: [rst]
        additional_dependencies: [uv==0.5.14]

Work around orjson breakage
  pyproject.toml
Due: pyproject-fmt-fix

Drop support for Python 3.10
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Replace version in README
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8, sphinx-lint

Revert "Drop support for Python 3.10"
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Remove support for Python 3.10
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Remove unnecessary strategy from release.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Make sure GitHub releases are marked as latest
  .github/workflows/release.yml
Due: actionlint, yamlfix

Error in release process if trying to commit changes and there are none
  .github/workflows/release.yml
Due: actionlint, yamlfix

Enable the uv cache in CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Use sphinx-pyproject to remove duplication
  pyproject.toml
Due: pyproject-fmt-fix

Bump uv in pre-commit
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Make it easier to change the build matrix while still keeping builds required
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Use new way of specifying license
  .pre-commit-config.yaml
  LICENSE
Due: actionlint, yamlfix

Add license information to pyproject.toml
  pyproject.toml
Due: pyproject-fmt-fix

Run pre-commit hooks on only one stage each
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Bump pylint per-file-ignores
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Add .prettierrc configuration
  .prettierrc
Due: none

Bump uv to 0.9.5
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Add --no-write-to-file flag for read-only doccmd commands
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Bump doccmd to 2025.11.8.1 and sybil-extras to 2025.11.8
  pyproject.toml
Due: pyproject-fmt-fix

Add --no-write-to-file flag for read-only doccmd commands (#156)
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Bump dependencies
  pyproject.toml
Due: pyproject-fmt-fix

Add --example-workers 0 to read-only doccmd hooks
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Update doccmd-pre-commit revision in README
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8, sphinx-lint

Add validation for gha-find-replace actions
  .github/workflows/release.yml
Due: actionlint, yamlfix

Add validation for gha-find-replace actions (#167)
  .github/workflows/release.yml
Due: actionlint, yamlfix
