Repository adamtheturtle/doccmd-pre-commit: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, doc8, pyproject-fmt-fix, yamlfix, sphinx-lint

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv==0.5.14

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter --in-place
  language: python
  additional_dependencies:
  - uv==0.5.14

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash"
  language: python
  additional_dependencies:
  - uv==0.5.14

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv==0.5.14

doc8:
  name: doc8
  entry: uv run --extra=dev -m doc8
  language: python
  additional_dependencies:
  - uv==0.5.14

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: uv run --extra=dev pyproject-fmt
  language: python
  additional_dependencies:
  - uv==0.5.14

yamlfix:
  name: yamlfix
  entry: uv run --extra=dev yamlfix
  language: python
  additional_dependencies:
  - uv==0.5.14

sphinx-lint:
  name: sphinx-lint
  entry: uv run --extra=dev sphinx-lint --enable=all --disable=line-too-long *.rst
  language: python
  additional_dependencies:
  - uv==0.5.14

Use regex pattern for README version updates
  .github/workflows/release.yml
Due: actionlint, yamlfix

Fix URL to doccmd
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8, sphinx-lint

Fix regex capture group escaping and support 3/4 segment versions
  .github/workflows/release.yml
Due: actionlint, yamlfix

Fix regex to match versions with single-digit months/days
  .github/workflows/release.yml
Due: actionlint, yamlfix

Update README to latest version
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8, sphinx-lint

Use CalVer action to generate version without leading zeros
  .github/workflows/release.yml
Due: actionlint, yamlfix

More flexible rev match
  .github/workflows/release.yml
Due: actionlint, yamlfix

Bump doccmd
  pyproject.toml
Due: pyproject-fmt-fix

Replace version in README
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8, sphinx-lint

Fix bad changes
  .github/workflows/release.yml
Due: actionlint, yamlfix

Fix spacing within a string formatting
  .github/workflows/release.yml
Due: actionlint, yamlfix

Add Claude Code LSP plugin for Python (pyright)
  .claude/plugins/pyright-lsp/.claude-plugin/plugin.json
  .claude/plugins/pyright-lsp/.lsp.json
Due: none

Bump dependencies
  .claude/settings.json
Due: none

Add zizmor for GitHub Actions security linting
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Add zizmor config and ignore in check-manifest
  zizmor.yml
Due: actionlint, yamlfix

Fix zizmor issues in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Add zizmor for GitHub Actions security linting (#180)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
  zizmor.yml
Due: actionlint, pyproject-fmt-fix, yamlfix

Fix release.yml: remove persist-credentials and suppress artipacked rule
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint, yamlfix

Fix release.yml: remove persist-credentials and suppress artipacked rule (#181)
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint, yamlfix

Switch from pre-commit to prek
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Remove hook types which are not used
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Try to fix CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Switch from pre-commit to prek (#183)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Make prettier more compatible with yamlfix
  .prettierrc
Due: none

Fix prettier config
  .prettierrc
Due: none

Make zizmor collection strict
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Use bash shell for Lint step to ensure early failure
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Use bash shell for Lint step to ensure early failure (#198)
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Replace docformatter with pydocstringformatter
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Replace docformatter with pydocstringformatter (#202)
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Remove --example-workers 0 due to mypy bug (#203)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Remove --example-workers 0 only from mypy-docs hook
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
  yamlfix: any of: \.(yaml|yml)$
  sphinx-lint: any of: \.rst$
