Repository adamtheturtle/doccmd-pre-commit: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, doc8, pyproject-fmt-fix

actionlint:
  name: actionlint
  entry: uv run --extra=dev actionlint
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv

docformatter:
  name: docformatter
  entry: uv run --extra=dev -m docformatter
  language: python
  additional_dependencies:
  - uv

shellcheck-docs:
  name: shellcheck-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC1017"
  language: python
  additional_dependencies:
  - uv

shfmt-docs:
  name: shfmt-docs
  entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
  language: python
  additional_dependencies:
  - uv

doc8:
  name: doc8
  entry: uv run --extra=dev -m doc8
  language: python
  additional_dependencies:
  - uv

pyproject-fmt-fix:
  name: pyproject-fmt
  entry: uv run --extra=dev pyproject-fmt
  language: python
  additional_dependencies:
  - uv

Configure docformatter
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix

Fix hook name
  .pre-commit-config.yaml
Due: actionlint

Fix dependency name
  pyproject.toml
Due: pyproject-fmt-fix

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: actionlint

Pass filenames to shellcheck in pre-commit
  .pre-commit-config.yaml
Due: actionlint

Support Windows and Python 3.13
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix

Try to not hit CLRF issues
  .gitattributes
Due: none

Try setting clrf setting
  .gitattributes
  .github/workflows/ci.yml
Due: actionlint

Try forcing lf
  .yamlfmt
Due: none

Try combo of gitattributes and settings
  .gitattributes
Due: none

Try to show yaml diff
  .pre-commit-config.yaml
Due: actionlint

Try switching from yamlfmt to yamlfix
  .pre-commit-config.yaml
  .yamlfmt
  pyproject.toml
Due: actionlint, pyproject-fmt-fix

Format yaml files
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/release.yml
Due: actionlint

Always run lite action
  .github/workflows/ci.yml
Due: actionlint

Remove .gitattributes - maybe not needed
  .gitattributes
Due: none

Remove git configuration
  .github/workflows/ci.yml
Due: actionlint

Add doc8 ignore
  pyproject.toml
Due: pyproject-fmt-fix

Remove checkmake - it is flaky on Windows
  .checkmake-config.ini
  .pre-commit-config.yaml
Due: actionlint

Move shellcheck settings to rc file
  .pre-commit-config.yaml
  README.rst
Due: actionlint, shellcheck-docs, shfmt-docs, doc8

Bump doccmd
  pyproject.toml
Due: pyproject-fmt-fix

Remove doc8 ignore which is no longer needed
  pyproject.toml
Due: pyproject-fmt-fix

Add gitattributes file to force checkout of text files to have lf endings
  .gitattributes
Due: none

Replace version in README
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8

Fix the name of the yamlfix pre-commit hook
  .pre-commit-config.yaml
Due: actionlint

Pin uv for pre-commit hook
  .pre-commit-config.yaml
Due: actionlint

Set release fetch-depth to 0 with a comment why
  .github/workflows/release.yml
Due: actionlint

Git ignore DS_Store files
  .gitignore
Due: none

Add sphinx-lint
  .pre-commit-config.yaml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix

Add sphinx-lint
  .pre-commit-config.yaml
Due: actionlint

Do not run against a file
  .pre-commit-config.yaml
Due: actionlint

Bump uv in pre-commit hooks to 0.5.20
  .pre-commit-config.yaml
Due: actionlint

Path conditions:
  actionlint: any of: \.(yaml|yml)$
  docformatter: any of: \.py$
  shellcheck-docs: any of: \.(md|markdown|mdown)$, \.rst$
  shfmt-docs: any of: \.(md|markdown|mdown)$, \.rst$
  doc8: any of: \.rst$
  pyproject-fmt-fix: any of: pyproject.toml and \.toml$
