Repository adamtheturtle/doccmd-pre-commit: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, pyproject-fmt-fix

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
    # We use system Python, with required dependencies specified in pyproject.toml.
    # We therefore cannot use those dependencies in pre-commit CI.
    skip:
        - actionlint
        - check-manifest
        - deptry
        - doc8
        - docs
        - interrogate
        - interrogate-docs
        - linkcheck
        - mypy
        - mypy-docs
        - pylint
        - pyproject-fmt-check
        - pyproject-fmt-fix
        - pyright
        - pyright-docs
        - pyright-verifytypes
        - pyroma
        - ruff-check
        - ruff-check-docs
        - ruff-check-fix
        - ruff-check-fix-docs
        - ruff-format-diff
        - ruff-format-diff-docs
        - ruff-format-fix
        - ruff-format-fix-docs
        - spelling
        - vulture

default_install_hook_types: [pre-commit, pre-push, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-toml
    - id: check-vcs-permalinks
    - id: check-yaml
    - id: end-of-file-fixer
    - id: file-contents-sorter
      files: spelling_private_dict\.txt$
    - id: trailing-whitespace
- repo: local
  hooks:
    - id: doc8
      name: doc8
      entry: python -m doc8
      language: system
      types_or: [rst]

    - id: pyproject-fmt-fix
      name: pyproject-fmt
      entry: pyproject-fmt
      language: system
      types_or: [toml]
      files: pyproject.toml

Add more pre-commit checks
  .pre-commit-config.yaml
  README.rst
  pyproject.toml
Due: doc8, pyproject-fmt-fix

Add CI workflow
  .github/workflows/ci.yml
Due: none

Fix a shellcheck issue
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: none

Add shellcheck-py so that GitHub workflow files get linted for shell issues
  .gitignore
  pyproject.toml
Due: pyproject-fmt-fix

Test shell snippets in documentation code blocks
  .pre-commit-config.yaml
Due: none

Update README.rst
  README.rst
Due: doc8

Add check-json and meta pre-commit hooks
  .pre-commit-config.yaml
Due: none

Try to fix version replacement for README in release script
  .github/workflows/release.yml
  README.rst
Due: doc8

Try again to find and replace in README
  .github/workflows/release.yml
Due: none

Try fixing release workflow
  .github/workflows/release.yml
Due: none

Add shfmt to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: pyproject-fmt-fix

Update shfmt command to work on more inputs
  .pre-commit-config.yaml
Due: none

Update calling method for shellcheck shell option to be consistent amoung projects
  .pre-commit-config.yaml
Due: none

Exclude shellcheck error which prevents it from working on Windows
  .pre-commit-config.yaml
  README.rst
Due: doc8

Use setup-uv GitHub Action
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Run pre-commit lite action on failure
  .github/workflows/ci.yml
Due: none

Use new hook stage names
  .github/workflows/ci.yml
Due: none

Switch pre-commit to Python language
  .pre-commit-config.yaml
Due: none

Enable running pre-commit hooks without first activating virtualenv
  .pre-commit-config.yaml
Due: none

Use a PAT for release
  .github/workflows/release.yml
Due: none

Try to run release on dependabot PR merged
  .github/workflows/release.yml
Due: none

Update comment
  .github/workflows/release.yml
Due: none

Try to fix some issues with the release process
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

No cache on uv sync - else cache the failure
  .github/workflows/ci.yml
Due: none

Simplify python version set
  .github/workflows/ci.yml
Due: none

Do not install any unnecessary extras during lint phase
  .github/workflows/ci.yml
Due: none

Add a requires-python so uv doesn't have to guess
  pyproject.toml
Due: pyproject-fmt-fix

Try again to trigger on the right settings
  .github/workflows/release.yml
Due: none

Try using a PAT in dependabot auto merge - try to get release working
  .github/workflows/dependabot-merge.yml
Due: none

Avoid skip on trigger
  .github/workflows/release.yml
Due: none

Replace version in README
  README.rst
Due: doc8

Try to avoid race condition in release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Format some yaml files
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

Add more pre-commit hooks
  .checkmake-config.ini
  .pre-commit-config.yaml
  .yamlfmt
  pyproject.toml
Due: pyproject-fmt-fix
