Repository adamtheturtle/doccmd-pre-commit: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, doc8, pyproject-fmt-fix, yamlfix, sphinx-lint

.pre-commit-config.yaml:

---
fail_fast: true

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  # We use system Python, with required dependencies specified in pyproject.toml.
  # We therefore cannot use those dependencies in pre-commit CI.
  skip:
    - actionlint
    - doc8
    - docformatter
    - pyproject-fmt-fix
    - shellcheck
    - shellcheck-docs
    - shfmt
    - shfmt-docs
    - sphinx-lint
    - yamlfix

default_install_hook_types: [pre-commit, pre-push, commit-msg]

repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: file-contents-sorter
        files: spelling_private_dict\.txt$
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
      - id: rst-backticks
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: uv run --extra=dev actionlint
        language: python
        pass_filenames: false
        types_or: [yaml]
        additional_dependencies: [uv==0.5.14]

      - id: docformatter
        name: docformatter
        entry: uv run --extra=dev -m docformatter --in-place
        language: python
        types_or: [python]
        additional_dependencies: [uv==0.5.14]

      - id: shellcheck
        name: shellcheck
        entry: uv run --extra=dev shellcheck --shell=bash
        language: python
        types_or: [shell]
        additional_dependencies: [uv==0.5.14]

      - id: shellcheck-docs
        name: shellcheck-docs
        entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck
          --shell=bash"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: [uv==0.5.14]

      - id: shfmt
        name: shfmt
        entry: uv run --extra=dev shfmt --write --space-redirects --indent=4
        language: python
        types_or: [shell]
        additional_dependencies: [uv==0.5.14]

      - id: shfmt-docs
        name: shfmt-docs
        entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt
          --no-pad-file --command="shfmt --write --space-redirects --indent=4"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: [uv==0.5.14]

      - id: doc8
        name: doc8
        entry: uv run --extra=dev -m doc8
        language: python
        types_or: [rst]
        additional_dependencies: [uv==0.5.14]

      - id: pyproject-fmt-fix
        name: pyproject-fmt
        entry: uv run --extra=dev pyproject-fmt
        language: python
        types_or: [toml]
        files: pyproject.toml
        additional_dependencies: [uv==0.5.14]

      - id: yamlfix
        name: yamlfix
        entry: uv run --extra=dev yamlfix
        language: python
        types_or: [yaml]
        additional_dependencies: [uv==0.5.14]

      - id: sphinx-lint
        name: sphinx-lint
        entry: uv run --extra=dev sphinx-lint --enable=all --disable=line-too-long
          *.rst
        language: python
        types_or: [rst]
        additional_dependencies: [uv==0.5.14]

Remove --example-workers 0 only from mypy-docs hook (#204)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Support Python 3.14
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Support Python 3.14 (#207)
  .github/workflows/ci.yml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Replace version in README
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8, sphinx-lint

Bump pyproject-fmt to 2.14.0 and apply formatting
  pyproject.toml
Due: pyproject-fmt-fix

Bump pyproject-fmt to 2.14.0 and apply formatting (#214)
  pyproject.toml
Due: pyproject-fmt-fix

Bump pyproject-fmt to 2.14.2
  pyproject.toml
Due: pyproject-fmt-fix

Bump pyproject-fmt to 2.14.2 (#215)
  pyproject.toml
Due: pyproject-fmt-fix

Update pyproject-fmt to 2.15.2
  pyproject.toml
Due: pyproject-fmt-fix

Update pyproject-fmt to 2.15.2 (#218)
  pyproject.toml
Due: pyproject-fmt-fix

Add pyrefly non-exhaustive match as error
  pyproject.toml
Due: pyproject-fmt-fix

Enable coverage report.show_missing
  pyproject.toml
Due: pyproject-fmt-fix

Enable coverage report.show_missing (#222)
  pyproject.toml
Due: pyproject-fmt-fix

Bump doccmd to 2026.3.1
  pyproject.toml
Due: pyproject-fmt-fix

Add completion-lint job
  .github/workflows/ci.yml
Due: actionlint, yamlfix

Remove secrets-outside-env disable, add environment to jobs that use secrets
  .github/workflows/dependabot-merge.yml
  .github/workflows/release.yml
  zizmor.yml
Due: actionlint, yamlfix

Remove unused dependabot/fetch-metadata step
  .github/workflows/dependabot-merge.yml
Due: actionlint, yamlfix

fix: use pull_request.user.login instead of github.actor for bot check (fixes adamtheturtle/literalizer#146)
  .github/workflows/dependabot-merge.yml
  zizmor.yml
Due: actionlint, yamlfix

Apply pyproject-fmt 2.20.0 formatting
  pyproject.toml
Due: pyproject-fmt-fix

Bump doccmd to 2026.3.26.2
  pyproject.toml
Due: pyproject-fmt-fix

chore: define uv version once in pre-commit config
  .pre-commit-config.yaml
Due: actionlint, yamlfix

chore: define uv version once in pre-commit config (#255)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

chore: bump uv to 0.11.7 for pre-commit hooks
  .pre-commit-config.yaml
Due: actionlint, yamlfix

chore: bump uv to 0.11.7 for pre-commit hooks (#256)
  .pre-commit-config.yaml
Due: actionlint, yamlfix

ci: bump astral-sh/setup-uv from v7 to v8.1.0
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Use prek action with autofix.ci (#298)
  .github/dependabot.yml
  .github/workflows/autofix.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Lint reStructuredText prose with Vale
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Sync Vale styles when ``.vale.ini`` changes
  .pre-commit-config.yaml
Due: actionlint, yamlfix

Lint Markdown prose with Vale
  .pre-commit-config.yaml
  .vale.ini
Due: actionlint, yamlfix

Switch Vale to the upstream ai-tells package
  .pre-commit-config.yaml
  .vale.ini
Due: actionlint, yamlfix
