Repository adamtheturtle/doccmd-pre-commit: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, docformatter, shellcheck-docs, shfmt-docs, doc8, pyproject-fmt-fix, yamlfix, sphinx-lint

.pre-commit-config.yaml:

---
fail_fast: true

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  # We use system Python, with required dependencies specified in pyproject.toml.
  # We therefore cannot use those dependencies in pre-commit CI.
  skip:
    - actionlint
    - doc8
    - docformatter
    - pyproject-fmt-fix
    - shellcheck
    - shellcheck-docs
    - shfmt
    - shfmt-docs
    - sphinx-lint
    - yamlfix

default_install_hook_types: [pre-commit, pre-push, commit-msg]

repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: file-contents-sorter
        files: spelling_private_dict\.txt$
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
      - id: rst-backticks
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: uv run --extra=dev actionlint
        language: python
        pass_filenames: false
        types_or: [yaml]
        additional_dependencies: [uv==0.5.14]

      - id: docformatter
        name: docformatter
        entry: uv run --extra=dev -m docformatter --in-place
        language: python
        types_or: [python]
        additional_dependencies: [uv==0.5.14]

      - id: shellcheck
        name: shellcheck
        entry: uv run --extra=dev shellcheck --shell=bash
        language: python
        types_or: [shell]
        additional_dependencies: [uv==0.5.14]

      - id: shellcheck-docs
        name: shellcheck-docs
        entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck
          --shell=bash"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: [uv==0.5.14]

      - id: shfmt
        name: shfmt
        entry: uv run --extra=dev shfmt --write --space-redirects --indent=4
        language: python
        types_or: [shell]
        additional_dependencies: [uv==0.5.14]

      - id: shfmt-docs
        name: shfmt-docs
        entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt
          --no-pad-file --command="shfmt --write --space-redirects --indent=4"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: [uv==0.5.14]

      - id: doc8
        name: doc8
        entry: uv run --extra=dev -m doc8
        language: python
        types_or: [rst]
        additional_dependencies: [uv==0.5.14]

      - id: pyproject-fmt-fix
        name: pyproject-fmt
        entry: uv run --extra=dev pyproject-fmt
        language: python
        types_or: [toml]
        files: pyproject.toml
        additional_dependencies: [uv==0.5.14]

      - id: yamlfix
        name: yamlfix
        entry: uv run --extra=dev yamlfix
        language: python
        types_or: [yaml]
        additional_dependencies: [uv==0.5.14]

      - id: sphinx-lint
        name: sphinx-lint
        entry: uv run --extra=dev sphinx-lint --enable=all --disable=line-too-long
          *.rst
        language: python
        types_or: [rst]
        additional_dependencies: [uv==0.5.14]

Switch Vale to the upstream ai-tells package (#304)
  .pre-commit-config.yaml
  .vale.ini
Due: actionlint, yamlfix

Bump August dependency releases
  pyproject.toml
Due: pyproject-fmt-fix

Bump August dependency releases (#306)
  pyproject.toml
Due: pyproject-fmt-fix

Replace version in README
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8, sphinx-lint

Switch pre-commit config from YAML to prek.toml
  .pre-commit-config.yaml
  prek.toml
Due: actionlint, yamlfix

Make pyrefly error on unused ignore comments
  pyproject.toml
Due: pyproject-fmt-fix

Use the pyrefly strict preset
  pyproject.toml
Due: pyproject-fmt-fix

Use the pyrefly strict preset (#377)
  pyproject.toml
Due: pyproject-fmt-fix

Use the pyrefly all preset
  pyproject.toml
Due: pyproject-fmt-fix

Use PEP 735 dependency groups
  prek.toml
  pyproject.toml
Due: pyproject-fmt-fix

Configure checker-specific ignore comments
  pyproject.toml
Due: pyproject-fmt-fix

Use one sentence per line in documentation
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8, sphinx-lint

Use one sentence per line in documentation (#381)
  README.rst
Due: shellcheck-docs, shfmt-docs, doc8, sphinx-lint

Enforce semantic line breaks with Snapper
  .github/workflows/semantic-line-breaks.yml
Due: actionlint, yamlfix

Run Snapper through Prek
  .github/workflows/semantic-line-breaks.yml
  prek.toml
  pyproject.toml
Due: actionlint, pyproject-fmt-fix, yamlfix

Isolate the Snapper dependency group
  prek.toml
  pyproject.toml
Due: pyproject-fmt-fix

Enable Snapper Vale rules
  .vale.ini
  styles/snapper/LongProseLine.yml
  styles/snapper/SemanticLineBreaks.yml
Due: actionlint, yamlfix

Bump setup-uv to v10.1.0
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: actionlint, yamlfix

Document transient Vale download failures
  prek.toml
Due: none

Bump doccmd for typed click-compose callbacks
  pyproject.toml
Due: pyproject-fmt-fix

Update doccmd to 2026.9.16.1
  pyproject.toml
Due: pyproject-fmt-fix

Bump actionlint-py to 1.7.12.25 (#398)
  pyproject.toml
Due: pyproject-fmt-fix

Allow cancelled completion jobs to stop
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: actionlint, yamlfix

Run validation workflows for stacked pull requests
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: actionlint, yamlfix
